@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #c89b1f;
  --color-primary-hover: #b88a12;
  --color-background-header: #f5f5f5;
  --color-background-footer: #071126;
  --color-text-main: #6b778c;
  --color-text-muted: #8fa2c4;
  --color-border-main: #e6e6e6;
  --color-border-footer: #1c2947;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
<<<<<<< HEAD
  font-family: Arial, Helvetica, sans-serif;
=======
  font-family: var(--font-body);
>>>>>>> header-footer-save
}
